#diretorios
node_modules


#arquivos
package-lock.json


# <section id="colegas">
#             <h2>Colegas de trabalho</h2>
#             <div class="row">
#                 <div class="fotos" class="">
#                     <a href="https://github.com/BrunoAlves-Coelho" target="_blank">
#                         <img src="assets/img/foto-bruno.jpg" alt="Foto Bruno" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                     <a href="https://github.com/RafaelDePaiva" target="_blank">
#                         <img src="assets/img/foto-rafael.jpg" alt="Foto Rafael" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                     <a href="https://github.com/pedroMontandon" target="_blank">
#                         <img src="assets/img/foto-pedro.jpg" alt="Foto Pedro" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                     <a href="https://github.com/muriloAmachado" target="_blank">
#                         <img src="assets/img/foto-murilo.jpg" alt="Foto Murilo" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                     <a href="https://github.com/jpvoliveira" target="_blank">
#                         <img src="assets/img/foto-joao.jpeg" alt="Foto João Pedro" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                     <a href="https://github.com/matheustitton" target="_blank">
#                         <img src="assets/img/foto-matheus.jpg" alt="Foto Matheus" class="colegas" width="150px"
#                             height="150px">
#                     </a>
#                 </div>
#             </div>
#         </section>