/*inicializando css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {

    /*header*/
    header {
        margin-bottom: 16px;
    }

    .nav-link {
        color: black;
    }

    /*Perfil*/
    #perfil {
        margin: 0 64px;
        margin-bottom: 16px;
    }

    #perfil h2 {
        border-bottom: 1px solid black;
    }

    #foto-perfil {
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;
    }

    #conteudo-perfil {
        display: flex;
    }

    .nome-perfil {
        font-size: 100%;
        color: black;
    }

    #site a {
        text-decoration: none;
        color: black;
    }

    #container-perfil-1 {
        margin: auto;
    }

    #container-perfil-3 {
        display: flex;
        justify-content: space-between;
    }

    #container-perfil-4 {
        font-size: 200%;
    }

    #texto-perfil {
        margin-left: 16px;
    }

    .icone-container-3 {
        display: flex;
        justify-content: space-between;
    }

    .link {
        text-decoration: none;
        color: rgb(26, 25, 25);
    }

    /*Repositorios*/
    #repositorios {
        margin: 0 64px;
        margin-bottom: 16px;
    }

    #repositorios h2 {
        border-bottom: 1px solid black;
    }

    #conteudo-repositorios {
        padding: 8px 0;
    }

    .card-footer {
        display: flex;
        justify-content: space-around;
    }

    .fa-regular.fa-user {
        font-size: 150%;
    }

    .fa-regular.fa-star {
        font-size: 150%;
    }


    /*Conteudo Sugerido*/

    #conteudo h2 {
        border-bottom: 1px solid black;
        margin: 0 64px;
        margin-bottom: 16px;
    }
    .carousel-inner img{
        /* width: ;  */
        height: 500px;
    }




    /*Colegas de trabalho*/
    #colegas {
        margin: 0 64px 96px 64px ;
    }

    #colegas h2 {
        border-bottom: 1px solid black;
    }

    #info-colegas { 
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        border: 1px solid black;
        border-radius: 8px;

    }

    .fotos p {
        font-weight: bold;
        font-size: 120%;
        
    }

    .fotos img {
        padding: 4px;
        border-radius: 8px;
        width: 200px;
        height: 200px;
    }

    #link-fotos {
        text-decoration: none;
        color: black;
    }

    
    #link-fotos:hover{
        color: rgb(0, 94, 255);

    }

    /*Footer*/
    #footer {
        background-color: #535353;
        color: #fff;
        text-align: center;
        padding: 4px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /*Pagina repositorio*/
    #descricao-repo {
        margin: 0 64px;
        margin-bottom: 16px;
    }

    #descricao-repo h2 {
        border-bottom: 1px solid black;
    }

    p a {
        text-decoration: none;
        color: black;
    }

    p a:hover {
        text-decoration: underline;
        color: rgb(0, 94, 255);
    }

    .icone {
        display: flex;
        flex-direction: column;
    }

    .icone i {
        margin: 8px 0;

    }

    .icone.fa-regular.fa-star {
        font-size: 200%;
    }

    #topicos{
        display: flex;
        gap: 8px;
    }

    #topicos span {
        font-size: 95%;
    }
}

@media screen and (max-width: 767px) {

    /*Perfil*/
    #perfil {
        margin: 0 24px;
        margin-bottom: 16px;
    }

    #perfil h2 {
        border-bottom: 1px solid black;
    }

    #foto-perfil {
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;
    }

    #conteudo-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nome-perfil {
        font-size: 120%;
        color: black;
    }

    #site a {
        text-decoration: none;
        color: black;
    }

    #container-perfil-1 {
        display: flex;
        justify-content: center;
    }

    #container-perfil-2 #descricao {
        text-align: justify;
    }

    #container-perfil-3 {
        display: flex;
        justify-content: space-between;
    }

    #container-perfil-4 {
        font-size: 250%;
    }

    #texto-perfil {
        margin-left: 16px;
    }

    .icone-container-3 {
        display: flex;
        justify-content: space-between;
    }

    .link {
        text-decoration: none;
        color: rgb(26, 25, 25);
    }

    /*Repositorios*/
    #repositorios {
        margin: 0 24px;
        margin-bottom: 16px;
    }

    #repositorios h2 {
        border-bottom: 1px solid black;
    }

    #conteudo-repositorios {
        padding: 8px 0;
    }

    .card-footer {
        display: flex;
        justify-content: space-around;
    }

    .fa-regular.fa-user {
        font-size: 150%;
    }

    .fa-regular.fa-star {
        font-size: 150%;
    }


    /*Conteudo Sugerido*/
    #conteudo {
        margin: 0 24px;
        margin-bottom: 16px;
    }

    #conteudo h2 {
        border-bottom: 1px solid black;
    }

    .carousel-inner img {
        height: 300px;
    }

    /*Colegas de trabalho*/
    #colegas {
        margin: 0 24px;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }

    #colegas h2 {
        border-bottom: 1px solid black;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
        border: 1px solid black;
        border-radius: 8px;

    }

    .fotos p {
        font-weight: bold;
        font-size: 120%;
        
    }

    .fotos img {
        padding: 4px;
        border-radius: 8px;
        width: 200px;
        height: 200px;
    }

    #link-fotos {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;

    }

    
    #link-fotos:hover{
        color: rgb(0, 94, 255);

    }

    #info-colegas {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

   

    /*Footer*/
    #footer {
        background-color: #535353;
        color: #fff;
        text-align: center;
        padding: 4px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }


    /*Pagina repositorio*/
    #descricao-repo {
        margin: 0 24px;
        margin-bottom: 16px;
    }

    #descricao-repo h2 {
        border-bottom: 1px solid black;
    }

    p a {
        text-decoration: none;
        color: black;
    }

    p a:hover {
        text-decoration: underline;
        color: rgb(0, 94, 255);
    }

    .icone {
        display: flex;
        flex-direction: column;
    }

    .icone i {
        margin: 16px 0;
    }

    .icone.fa-regular.fa-star {
        font-size: 200%;
    }

    #topicos{
        display: flex;
        gap: 8px;
    }

    #topicos span {
        font-size: 95%;
    }

}

