/*inicializando css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
@media screen and (min-width: 768px) {
    /*header*/
    header {
        padding-top: 24px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav h2 {
        font-size: 250%;
    }
    nav h2 a{
        text-decoration: none;
        color: black;
    }
    #secoes {
        display: flex;
        align-items: center;
        list-style-type: none;
    }
    #secoes li {
       padding: 0 24px;
    }
    #secoes li a {
        text-decoration: none;
        font-size: 150%;
    }
    /*Perfil*/
    #perfil{
        margin: 0 64px;
        margin-bottom: 16px; 
    }
    #perfil h2{ 
        border-bottom: 1px solid black;
    }
    #foto-perfil{
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;   
    }
    #conteudo-perfil{
        display: flex;
    }
    .nome-perfil{
        font-size: 100%;
        color: rgb(0, 94, 255);
    }
    #site a{
        text-decoration: none;
        color: black;
    }
    #site a:hover{
        text-decoration: underline;
        color: rgb(0, 94, 255);
    }
    #container-perfil-1{
        margin: auto;
    }
    #container-perfil-3{
        display: flex;
        justify-content: space-between;   
    }
    #container-perfil-4{
        font-size: 200%;
    }
    .icone-container-3{
        display: flex;
        justify-content: space-between;
    }
    .link{
        text-decoration: none;
        color: rgb(26, 25, 25);
    }

  /*Repositorios*/
    #repositorios{
        margin: 0 64px;
        margin-bottom: 16px;
    }
    #repositorios h2{
        border-bottom: 1px solid black;
    }
    #conteudo-repositorios{
        padding: 8px 0;
    }
    .card-footer{
        display: flex;
        justify-content: space-around;        
    }
    .fa-regular.fa-user{
        font-size: 150%;
    }
    .fa-regular.fa-star{
        font-size: 150%;
    }


    /*Conteudo Sugerido*/
    #conteudo{
        margin: 0 64px;
        margin-bottom: 16px;
    }
    #conteudo h2{
        border-bottom: 1px solid black;
    }
    /*Colegas de trabalho*/
    #colegas{
        margin: 0 64px; 
        margin-bottom: 16px;     
    }
    #colegas h2{
        border-bottom: 1px solid black;
    }
    .fotos{
        display: flex;
        justify-content: center;
        gap: 16px;
        padding: 24px 0 24px 0;
    }
    .fotos img{
        padding: 4px;
        border: 1px solid black;
        border-radius: 8px;
    }

    /*Pagina repositorio*/
    #descricao-repo{
        margin: 0 64px;
        margin-bottom: 16px;
    }
    #descricao-repo h2{
        border-bottom: 1px solid black;
    }
    p a{
        text-decoration: none;
        color:black;
    }
    p a:hover{
        text-decoration: underline;
        color: rgb(0, 94, 255);
    }
    .icone{
        display: flex;
        flex-direction: column;
    }
    .icone i{
        margin: 8px 0;
        margin-right: 64px;
    }
    .icone.fa-regular.fa-star{
        font-size: 200%;
    }
}   
