/*inicializando css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

@media screen and (min-width: 768px) {
    /*header*/
    header {
        padding-top: 24px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav h2 {
        font-size: 300%;
    }
    nav h2 a{
        text-decoration: none;
        color: black;
    }
    #secoes {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    #secoes li {
       padding: 0 24px;
    }
    #secoes li a {
        text-decoration: none;
        font-size: 200%;
    }

    /*Perfil*/
    #perfil{
        margin: 0 64px;
        border-bottom: 1px solid black;
    }

    /*Repositorios*/
    #repositorios{
        margin: 0 64px;
        border-bottom: 1px solid black;
    }



    /*Conteudo Sugerido*/
    #conteudo{
        margin: 0 64px;
        border-bottom: 1px solid black;
    }




    /*Colegas de trabalho*/
    #colegas{
        margin: 0 64px;
        border-bottom: 1px solid black;
    }
}
